.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem;
}

.header a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.header h1 {
  color: var(--text-title);
  font-size: 1.98818rem;
  line-height: 2.625rem;
}

.header h3 {
  color: rgb(255, 167, 196);
  font-size: 1.4427rem;
  line-height: 2.625rem;
}