.title {
  font-size: 1.75rem;
  margin-bottom: 0.4375rem;
  margin-top: 3.5rem;
  line-height: 1.1;
}

.title a {
  text-decoration: none;
  font-family: inherit;
}

.body {
  margin-bottom: 1.75rem;
}