body {
  --pink: #ffa7c4;
  --bg: #fff;
  --text-normal: #222;
  --text-title: #222;
  --text-link: #d23669;
}

body.dark {
  --bg: #282c35;
  --text-normal: hsla(0, 0%, 100%, 0.88);
  --text-title: #fff;
  --text-link: var(--pink);
}

html {
  box-sizing: border-box;
  line-height: 1.75;
}

body {
  background: var(--bg);
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: var(--font-maria);
  -webkit-transition: .2s;
  transition: .2s;
}

h1, h3 {
  font-family: var(--font-mont);
  font-weight: 900;
}

a {
  color: var(--text-link);
}

p, small {
  color: var(--text-normal);
}

a:hover {
  text-decoration: none;
}
